main  {
  background-color: lightseagreen;
  font-family: sans-serif;
  font-size: 18px;
}

#title  {
  padding-top: 10px;
  text-align: center;
  color: snow;
}

#survey-form  {
  background-color: snow;
  width: 600px;
  margin: 0 auto;
  padding-top: 5px;
}

#description {
  text-align: center;
}

div {
  clear: both;
  /* width: 300px; */
  /* margin: 10px; */
  /* padding-bottom: 10px; */
}

label  {
  display: inline-block;
  /* text-align: right; */
  /* padding-right: 10px; */
}

input {
  /* box-sizing: border-box; */

}

.left {
float: left;
clear: right;
/* width: 250px; */
padding: 10px;
}

.left > label {
  text-align: right;
  width: 250px;
}

.right  {
  display: inline-block;
  width: 250px;
  padding: 10px;
}

#name, #email, #number  {
  width: 225px;
  height: 25px;
  border-radius: 3px;
  font-size: 16px;
  padding: 0px;
}

textarea  {
  vertical-align: top;
  font-family: sans-serif;
  font-size: 16px;
  width: 225px;
  border-radius: 3px;
  box-sizing: border-box;
}

#submit  {
  width: 100px;
  height: 50px;
  font-size: 16px;
  background-color: #ffa500;
  color: snow;
  border-radius: 8px;
}

.submit  {
  text-align: center;
  padding-bottom: 10px;
}
