body {
  margin: 0;
}

main  {
  max-width: 100%;
  background-color: lightseagreen;
  font-family: sans-serif;
  font-size: 18px;
  padding: 1%;
}

#title  {
  padding-top: 10px;
  text-align: center;
  color: snow;
}

#survey-form  {
  display: flex;
  flex-direction: column;
  background-color: snow;
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 1%;
  border-radius: 1.5%;
}

#description {
  text-align: center;
}

.row {
  margin-bottom: 3%;
}

label  {
  padding: 2% 0;
}

#name, #email, #number  {
  width: 90%;
  height: 25px;
  border-radius: 3px;
  font-size: 16px;
  padding: 0px;
}

#dropdown {
  border: 1px solid;
}

ul {
  list-style-type: none;
}

textarea  {
  font-family: sans-serif;
  font-size: 16px;
  width: 225px;
  border-radius: 3px;
  box-sizing: border-box;
}

#submit  {
  width: 100px;
  height: 50px;
  font-size: 16px;
  background-color: #ffa500;
  color: snow;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 600px)  {
  main {
    padding-bottom: 3%;
  }

  #survey-form  {
    width: 70%;
  }

  .row {
    display: inline-flex;
  }

  .left {
    display: flex;
    width: 45%;
    margin-right: 2%;
    justify-content: flex-end;
  }

  .right {
    width: 55%;
  }

  #name, #email, #number, textarea  {
    width:80%;
  }

  #radio-one {
    display: flex;
  }

  ul {
    padding-left: 0;
  }
  textarea  {
    vertical-align: text-top;
  }

}

@media screen and (min-width: 950px)  {

  main {
    padding: 5%;
  }

}
